body { 
  color: #222; 
  font: 14px Arial;
  margin: 0;
  padding: 0 0 30px 0;
}
#header {
  padding: 5px;
}
#header img {
  display: block;
}
.breadcrumb {
  font-size: 90%;
}
.compatible-block {
  padding: 10px 0;
}
#wrap {
  margin: 0;
  padding: 0;
}
#content {
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
}
#controls {
  padding: 5px;
}
#notcompatible,
#compatible {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 5px;
}
#notcompatible {
  background: #de8b8b;
  color: #fff;
}
#compatible {
  background: #696;
  color: #fff;
}
a.buttonlink {
  text-decoration: none;
}
a.buttonlink img {
  vertical-align: -30%;
}
a.buttonlink span {
  text-decoration: underline;
}

a img {
  border: 0;
}

h1, h2, h3 {
  font-family: Helvetica, Trebuchet MS, Arial; 
  margin: 30px 0 10px 0;
  padding: 0;
}
h1 { 
  font-size: 200%; 
}
h2 { 
  font-size: 150%; 
}
h3 {
  font-size: 100%;
}
p {
  padding: 0;
  margin: 10px 0;
}
pre { 
  background: #fff; 
  border-left: 10px solid #eee;
  padding: 0 10px; 
  margin: 10px;
}
code {
  font: 13px Monaco, monospace; 
  color: #060;
}
pre code {
  display: block;
  overflow: auto; 
  margin: 0;
  padding: 0;
}
em { 
  font-weight: bold; 
  color: #000; 
  font-style: normal; 
}
a {
  color: #00d;
}

.date { 
  font-size: 85%; 
  color: #bbb; 
  font-style: italic;
}
.tag {
  font-size: 75%;
  /* color: #ff5a5a; */
  color: #696;
  padding: 4px;
  text-decoration: underline;
}
.hidden {
  display: none;
}
.sample_title, .last_p { 
  margin-top: 30px; 
}
.footer { 
  font-size: 80%; 
  color: #bbb; 
  padding: 15px 0; 
}
.footer a { 
  color: #bbb; 
}
code .old { 
  color: #696;
}
code .new { 
  font-weight: bold; 
  color: #060;
}
h1#title {
  cursor: pointer;
  font-size: 28px;
  background-color: #FBFCFE;
  border-bottom: 1px solid #427BD6;
  margin: 0;
  padding: 20px 10px;
}
#title { 
  font-style: normal; 
  font-weight: bold; 
}
#title .normal { 
  color: #2E3F5F; 
  font-family: 'VollKorn', Georgia;
}
#title .rotated { 
  font-family: 'Droid Serif', Georgia; 
  -webkit-transform: rotate(-1deg);
  display: inline-block; 
  border-radius: 2px; 
  color: #fff;
  background-color: #8797BC; 
}
