body { 
  color: #222; 
  font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif; 
  margin: 0 auto; 
  width: 750px; 
}
pre { 
  background-color: #eee; 
  border: 1px solid #ccc; 
  padding: 10px; 
  font-size: 120%; 
  text-overflow: ellipsis; 
  overflow: hidden; 
}
pre.diagram { 
  background-color: #FAFAD2; 
}
h2 { 
  font-size: 120%; 
  font-family: Georgia; margin-top: 30px; 
  border-bottom: 1px solid #ccc; 
}
h1 { 
  font-size: 140%; 
  font-family: Georgia; margin-top: 30px; 
}
em { 
  font-weight: bold; 
  color: #000; 
  font-style: normal; 
}
.date { 
  font-size: 80%; 
  color: #bbb; 
  font-style: italic; 
}
.sample_title, .last_p { 
  margin-top: 30px; 
}
.footer { 
  font-size: 80%; 
  color: #bbb; 
  padding: 15px 0; 
}
.footer a { 
  color: #bbb; 
}
.old { 
  color: gray; 
}
.new { 
  color: black; font-weight: bold; 
}
