/* used by /video etc */


hgroup {
  border-bottom: 1px solid #ddd;
}
hgroup > h4 {
  margin: 0;
  color: #3D5C9D;
}
hgroup > h3 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 0;
}
hgroup {
  font-family: 'Droid Sans';
  padding-bottom: 5px;
  margin-bottom: 15px;
}
section {
  float: left;
  width: 48%;
  margin-top: 34px;
}
section:nth-child(even) {
  padding-left: 30px;
}
section:last-of-type {
  margin-bottom: 2em;
}
section ul {
  padding: 5px 18px;
}
section li { 
  padding: 3px 0;
}
section figure { 
  width: 170px;
  padding: 5px;
  display: inline-block;
}
section:nth-child(even) {

}

.demos {
  clear: both;
}

.clearfix:after  { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { zoom: 1; }
