
h2 {
  font-size: 28px;
  font-family: 'Droid Sans', sans-serif;
}
.description {
  font-size: 15px;
}
.description img {
  float: right;
  border: 1px solid #eee; 
  padding: 2px;
  margin: 0 0 10px 10px;
  height: 140px;
}
hgroup {
  border-bottom: 1px solid #ddd;
}
hgroup > h4 {
  margin: 0;
  color: #aaa;
  text-shadow: rgba(200,200,200,.5) 0px 0px 2px;
}
hgroup > h3 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 0;
}
hgroup {
  font-family: 'Droid Sans';
  padding-bottom: 5px;
  margin-bottom: 15px;
}
section {
  float: left;
  width: 48%;
  margin-bottom: 34px;
}
section:nth-child(even) {
  padding-left: 30px;
}
section:last-of-type {
  margin-bottom: 2em;
}
section ul {
  padding: 5px 18px;
}
section li {
  padding: 3px 0;
}
section figure {
  width: 165px;
  padding: 5px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
figcaption {
  font-style: normal;
}

.demos {
  clear: both;
}

.tutorials ul:empty, 
.tutorials ul:empty + p {
  display: none;
}

.clearfix:after  { 
  content: "\0020"; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden; 
}

.clearfix { 
  zoom: 1; 
}

dd { 
  margin: 2px 0 18px 5px;
}
