/* used by /video etc */


hgroup {
  border-bottom: 1px solid #ddd;
}
hgroup > h4 {
  margin: 0;
  color: #3D5C9D;
}
hgroup > h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 0;
}
hgroup {
  font-family: 'Droid Sans';
  padding-bottom: 5px;
  margin-bottom: 15px;
}
section {
  float: left;
  width: 48%;
  margin-top: 34px;
}
section:nth-child(even) {
  padding-left: 30px;
}
section:last-of-type {
  margin-bottom: 2em;
}
.demos {
  clear: both;
}