/*http://yui.yahooapis.com/2.8.0/build/reset/reset-min.css*/

body {
  overflow-x: hidden;
}
#content {
  width: auto;
  max-width: 100%;
  padding: 5px;
}
#title {
  float: none;
  text-align: center;
  padding: 0;
}
header nav ul {
  text-align: center;
  float: none;
  margin: 0;
}
header nav ul li {
  float: none;
  display: inline;
  padding: 0;
  margin: 0 2px;
  letter-spacing: -1px;
}
#cse-search-box {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  opacity: 1;
  margin: 10px 0;
  text-align: center;
  float: none;
}
#q {
 width: 150px;
}
article nav ul {
  list-style: none;
  padding-left: 20px;
  margin: 0;
}
.prettyprint {
  white-space: pre-wrap;
  word-break: break-word;
  padding: 7px;
  background: #ffebeb;
  border-color: #ffcccc;
}
#content > nav {
  display: none;
}
footer .footer-badge {
  width: 32px;
  height: 32px;
}
footer span a:not(:first-of-type) {
  display: inline-block;
  margin-bottom: 2px;
}
footer .madeby {
  display: block;
  width: auto;
  margin-top: 10px;
  text-align: center;
  float: none;
}
footer:last-child {
  text-align: center;
}