img.logo {
  display: block; 
  margin: 10px auto;
}

#logowrap_inner {
  border-bottom: 3px solid #ccc; 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 10px;
}
#logowrap_outer {
  border: 1px solid #000; 
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 
  background: #eee; 
  margin-top: 30px;
}

#index {
  width: 75%;
}
#tags {
  float: right;
  width: 20%;
}
#tags .tag {
  font-size: 100%;
}
.tag {
  cursor: pointer;
}

#filter_tag {
  font-weight: bold;
}
#filter {
  background: #fffeee;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}