img.logo {
  display: block; 
  margin: 10px auto;
}
#index {
  margin-top: 40px;
  width: 75%;
}
#tags {
  float: right;
  width: 20%;
  padding-top: 40px;
}
#tags h3 {
  margin-top: 0;
}
#tags .tag {
  font-size: 100%;
}
.tag {
  cursor: pointer;
}
.date {
  font-size: 85%; 
  color: #bbb; 
  font-style: italic; 
}
#filter_tag {
  font-weight: bold;
}
#filter {
  background: #fffeee;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}

.sample {
  padding: 10px 0;
  border-bottom: 1px solid #E9EEFA;
}

.sample:hover {
  background-color: #f5f5f5;
}

#index h2 { 
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 0;
}
h2 a {
  color: #2E4987;
  text-decoration: none;
}

h2 a:hover {
  color: #2E4987;
  text-decoration: underline;
}

a.buttonlink {
  color: #8797BC;
  display: block;
}