{% extends "sample.html" %}

{% block headauthor %}Malte Ubl <malte.ubl@google.com>{% endblock %}
{% block pageauthor %}{% profilelinks malteubl %}{% endblock %}
{% block headtitle %}Introducing WebSockets: Bringing Sockets to the Web{% endblock %}
{% block pagetitle %}Introducing WebSockets: Bringing Sockets to the Web{% endblock %}
{% block pagebreadcrumb %}Introducing WebSockets: Bringing Sockets to the Web{% endblock %}
{% block head %}
{% endblock %}
{% block date %}October 20, 2010{% endblock %}

{% block browsersupport %}
<span class="opera supported"></span>
<span class="ie"></span>
<span class="safari supported"></span>
<span class="ff supported"></span>
<span class="chrome supported"></span>
{% endblock %}

{% block html5badge %}
<img src="/static/images/identity/html5-badge-h-connectivity.png" width="133" height="64" alt="This article is powered by HTML5 Connectivity / Realtime" title="This article is powered by HTML5 Connectivity / Realtime" />
{% endblock %}

{% block iscompatible %}
  return Modernizr.websockets;
{% endblock %}

{% block content %}
  <h2 id="toc-introduction-lowlatency">The Problem: Low Latency Client-Server and Server-Client Connections</h2>
  <p>The web has been largely built around the so-called request/response paradigm of HTTP. A client loads up a web page
  and then nothing happens until the user clicks onto the next page. Around 2005, AJAX started to make the web feel more 
  dynamic. Still, all HTTP communication was steered by the client, which required user interaction or periodic polling 
  to load new data from the server.</p>

  <p id="fallbacks">Technologies that enable the server to send data to the client in the very moment when it knows that
  new data is available have been around for quite some time. They go by names such as "Push" or <a href="http://en.wikipedia.org/wiki/Comet_(programming)">"Comet"</a>. One of the most 
  common hacks to create the illusion of a server initiated connections is called long polling. With long polling,
  the client opens a HTTP connection to the server which then keeps it "hanging". Whenever the server actually has new
  data it takes that HTTP request and sends the response (other techniques involve 
  <a href="http://help.adobe.com/en_US/FlashPlatform/reference/actionscript/3/flash/net/Socket.html">Flash</a>, 
  <a href="http://cometdaily.com/2007/12/27/a-standards-based-approach-to-comet-communication-with-rest/">XHR multipart</a> 
  requests and so called <a href="http://cometdaily.com/2007/10/25/http-streaming-and-internet-explorer/">htmlfiles</a>). 
  Long polling and the other techniques work quite well. You use them every day in applications such as GMail chat.</p>

  <p>However, all of these work-arounds share one problem: They carry the overhead of HTTP, which doesn't make them well 
  suited for low latency applications. Think multiplayer first person shooter games in the browser or any other online game 
  with a realtime component.</p>

  <h2 id="toc-introduction-sockets">Introducing WebSockets: Bringing Sockets to the Web</h2>

  <p>The <a href="http://dev.w3.org/html5/websockets/">WebSockets</a> specification defines
  an API establishing "socket" connections between a web browser and a server. In plain words: There is an open connection 
  between the client and the server and both parties can start sending data at any time.</p>

  <h2 id="toc-gettingstarted">Getting Started</h2>

  <p>You open up a WebSocket connection simply by calling the WebSocket constructor:</p>

  <pre class="prettyprint">
var connection = new WebSocket('ws://html5rocks.websocket.org/echo');
</pre>

  <p>Notice the <code>ws:</code>. This is the new URL schema for WebSocket connections. There is also
  <code>wss:</code> for secure WebSocket connection the same way <code>https:</code> is used for secure HTTP 
  connections.</p>
  
  <p>It also makes sense to immediately attach some event handlers to the connection so that we know 
  when the connection is opened, we've received incoming messages, or there is an error.</p>

  <pre class="prettyprint">
// When the connection is open, send some data to the server
connection.onopen = function () {
  connection.send('Ping'); // Send the message 'Ping' to the server
};

// Log errors
connection.onerror = function (error) {
  console.log('WebSocket Error ' + error);
};

// Log messages from the server
connection.onmessage = function (e) {
  console.log('Server: ' + e.data);
};
</pre>

  <h3 id="toc-gettingstarted-workercomm">Communicating with the Server</h3>

  <p>There is really not much too it. As soon as we have a connection to the server (when the <code>open</code> event is fired)
  we can start sending data to the server using the <code>send('your message')</code> method on the connection
  object. Equally the server might send us messages at any time. Whenever this happens the <code>onmessage</code> callback
  fires. The callback receives an event object and the actual message is accessible via the <code>data</code>
  property.</p>

  <h2 id="toc-cross">Cross Origin Communication</h2>

  <p>Being a modern protocol, cross origin communication is baked right into WebSockets. While you should
  still make sure only to communicate with clients and servers that you trust, WebSockets enable communication
  between parties on any domain. The server decides whether to make its service available to all clients or only 
  those that reside on a set of well defined domains.</p>

  <h2 id="toc-proxyservers">Proxy Servers</h2>

  <p>Every new technology comes with a new set of problems. In the case of WebSockets it is the compatibility
  with proxy servers which mediate HTTP connections in most company networks. The WebSocket protocol uses the
  HTTP upgrade system (which is normally used for HTTPS/SSL) to "upgrade" a HTTP connection to a WebSocket
  connection. Some proxy servers do not like this and will drop the connection. Thus, even if a given client 
  uses the WebSockets protocol, it may not be possible to establish a connection. This makes the next
  section even more important :)</p>

  <h2 id="toc-usetoday">Use WebSockets Today</h2>
  
  <p>WebSockets are still a young technology and there is active work on the actual wire protocol. However, you 
  can use WebSockets today with libraries that use one of the <a href="#fallbacks">fallbacks</a> mentioned above whenever
  WebSockets are not available. A library that has become very popular in this domain is 
  <a href="http://socket.io/">socket.io</a> which comes with a client and a server implementation of the protocol
  and includes fallbacks. There are also commercial solutions such as <a href="http://pusherapp.com/">PusherApp</a>
  which can be easily integrated into any web environment by providing a HTTP API to send WebSocket messages
  to clients. Due to the extra HTTP request there will always be extra overhead compared to pure WebSockets.</p>
  
  <h2 id="toc-serverside">The Server Side</h2>
  
  <p>Using WebSockets creates a whole new usage pattern for server side applications. While traditional
  server stacks such as LAMP are designed around the HTTP request/response cycle they often do not deal well 
  with a large number of open WebSocket connections. Keeping a large number of connections open at the same 
  time requires an architecture that receives high concurrency at a low performance cost. Such architectures 
  are usually designed around either threading or so called non-blocking IO.</p>
  
  <h3 id="toc-serversideimplementations">Server Side Implementations</h3>
  
  <ul>
    <li><a href="http://socket.io/">Socket.IO (server side implementations for Java and node.js)</a></li>
    <li><a href="http://github.com/miksago/node-websocket-server">node-websocket-server</a></li>
    <li><a href="http://www.eclipse.org/jetty/">Jetty (Java)</a></li>
    <li><a href="http://github.com/igrigorik/em-websocket">Ruby/EventMachine</a></li>
    <li><a href="http://github.com/rlotun/txWebSocket">Python/Twisted</a>
  </ul>
  
  <h3 id="toc-protocolversion">Protocol Versions</h3>
  
  <p>The wire protocol for WebSockets has changed recently. This means that you might come into the situation
  that either a client or a server implementation does not support the correct version. All recent versions
  of the modern browsers support the <a href="http://tools.ietf.org/html/draft-hixie-thewebsocketprotocol-76">version
  76</a> of the spec. For now it is best to pick a server implementation that supports at least this version
  of the protocol.</p>
  
  <h2 id="toc-usecases">Use Cases</h2>

  <p>Use WebSockets whenever you need a truly low latency, near realtime connection between the client and the server. Keep in
  mind that this might involve rethinking how you build your server side applications with a new focus on
  technologies such as event queues. Some example use cases are:</p>
  
  <ul>
    <li>Multiplayer online games</li>
    <li>Chat applications</li>
    <li>Live sports ticker</li>
    <li>Realtime updating social streams</li>
  </ul>

  <h2 id="toc-examples">Demos</h2>
  <ul>
    <li><a href="http://www.websockets.org/echo.html">Ping server (used in examples above)</a></li>
    <li><a href="http://scrabb.ly/">Massively multiplayer online crossword</a></li>
    <li><a href="http://html5demos.com/web-socket">HTML5demos sample</a></li>
    <li><a href="http://mrdoob.com/projects/multiuserpad/">Multiuser Sketchpad</a></li>
  </ul>

  <h2 id="toc-references">References</h2>
  <ul>
    <li><a href="http://dev.w3.org/html5/websockets/">The WebSocket API</a></li>
    <li><a href="http://tools.ietf.org/html/draft-ietf-hybi-thewebsocketprotocol-03">The WebSocket Protocol</a></li>
  </ul>
{% endblock %}
