<footer>
  <p class="madeby">Made by Google | <img src="/static/images/google_logo_small.png" width="50" height="20" /></p>
  <a href="/">Home</a> - <a href="/tos.html">Terms</a> -
  <a href="/privacy.html">Privacy</a> -
  <a href="http://goo.gl/mod/YmGX">Make a Suggestion</a> - 
  <a href="http://code.google.com/p/html5rocks/issues/entry">Report Bug</a> - 
  <a href="http://twitter.com/ChromiumDev">Follow us on Twitter</a> -
  <a href="/profiles">About Authors</a>
  <span class="note">This site contains information on APIs that are not part of the current W3C HTML5 specification.</span>
</footer>
