<header>
  <h1 id="title"><span class="normal">HTML</span><span class="five">5</span> <span class="rocks">Rocks</span></h1>
  <nav>
    <ul>
      <li><a data-section="presentation" href="http://slides.html5rocks.com" target="_blank">Presentation</a></li>
      <li><a data-section="playground" href="http://playground.html5rocks.com">Playground</a></li>
      <li><a data-section="studio" href="http://studio.html5rocks.com">Studio</a></li>
      <li><a data-section="tutorials" href="/tutorials/">Tutorials</a></li>
      <li><a data-section="resources" href="/resources.html">Resources</a></li>
    </ul>
  </nav>
  <form action="/search" id="cse-search-box">
    <div>
      <input type="hidden" name="cx" value="007435387813601113811:ef_kuvvx6a8" />
      <input type="hidden" name="cof" value="FORID:9" />
      <input type="hidden" name="ie" value="UTF-8" />
      <input type="search" name="q" id="q" autocomplete="off" size="25" placeholder="Search HTML5Rocks"/>
    </div>
  </form>
</header>
