{% extends "base.html" %}

{% block body %}
  <nav>
      <p class="breadcrumb">
        <a class="buttonlink" href="/">
          <span>Home</span>
        </a >&gt;
        <a class="buttonlink" href="/mobile">
          <span>Mobile</span>
        </a> &gt;
        <a class="buttonlink" href="/tutorials#mobile">
          <span>Tutorials</span>
        </a> &gt;{% block pagebreadcrumb %}{% endblock %}
     </p>
  </nav>
  <article>
    <header>
      <h1>{% block pagetitle %}{% endblock %}</h1>
      <div>
        <span class="date">
          {% block pageauthor %}{% endblock %}
          <div>
            <time pubdate>{% block date %}{% endblock %}</time>
            <time class="updated">{% block updated %}{% endblock %}</time>
          </div>
        </span>
        {% if not is_mobile %}
        <span id="share_buttons">
          <ul>
            <li><a href="#disqus_thread">Comments</a></li>
            <li><a title="Post to Google Buzz" class="google-buzz-button" href="http://www.google.com/buzz/post" data-button-style="small-count"></a></li>
            <li><iframe src="http://www.facebook.com/plugins/like.php?href={{self_url}}&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe></li>
            <li>
              <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="ChromiumDev">Tweet</a>
            </li>
          </ul>
        </span>
        {% endif %}
      </div>
    </header>
    <nav>
      {% toc %}
    </nav>
    <section>
    {% block content %}{% endblock %}
    </section>
  </article>
  {% include "article_footer.html" %}

{% endblock %}