{% extends "../../templates/base.html" %}

{% block headtitle %}Case Studies{% endblock %}

{% block head %}

  <link rel="alternate" type="application/rss+xml" title="HTML5Rocks" href="http://feeds.feedburner.com/html5rocks" />

  <link rel="stylesheet" href="/static/css/samples_index.css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script>
    function clearFilter() {
      $('.sample.hidden').removeClass('hidden');
      $('#filter').addClass('hidden');
      document.location.hash = '';
    };

    function filterTag(opt_tag) {
      var tag = typeof opt_tag == 'string' ? opt_tag : $(this).text();
      document.location.hash = tag;
      if (tag) {
        $('.sample span.tag:not(:contains("' + tag + '"))').closest('.sample').addClass('hidden');
        $('.sample span.tag:contains("' + tag + '")').closest('.sample').removeClass('hidden');
        $('#filter_tag').text(tag);
        $('#filter').removeClass('hidden');
      }
    };

    $(document).ready(function() {
      $('.tag').click(filterTag);
      if (document.location.hash) {
        // Hide all samples as soon as DOM is loaded to prevent flicker effect.
        $('.sample').addClass('hidden');
        filterTag(document.location.hash.substring(1));
      }
    });

    // Adds back button support.
    if (window.addEventListener) {
      window.addEventListener('hashchange', function(e) {
        filterTag(document.location.hash.substring(1));
        if (window._gaq) {
          _gaq.push(['_trackPageview', document.location.href]);
        }
      }, false);
    }
  </script>
{% endblock %}

{% block body %}
  {% include "../../templates/section_header.html" %}
  <section>
    <div id="filter" class="hidden">
      Currently filtering by tag <span id="filter_tag"></span>.
      <a href="javascript:clearFilter();">[Clear filter]</a>
    </div>
  </section>
  <aside id="tags">
    <h3>Filter by tag</h3>
    <div class="tag">canvas</div>
    <div class="tag">dnd</div>
    <div class="tag">svg</div>
  </aside>

  <div id="index">
    <a href="http://feeds.feedburner.com/html5rocks"><img src="/static/images/feed_icon16x16.png" width="16" height="16" /></a>

    <article class="sample">
      <h2 id="box-dnd" data-pubdate="2010-09-28">
        <a href="/case-studies/html5_in_deviantart_muro.html">Case Study: HTML5 in deviantART muro</a>
      </h2>
      <div>
        <span class="date">September 28, 2010</span>
        <span class="tag">canvas</span>
        <span class="tag">svg</span>
      </div>
      <div class="summary">
        Learn how deviantART used HTML5 drawing features in deviantART muro.
      </div>
      <div class="footer_links">
         <span class="buttonlink"><a href="/case-studies/html5_in_deviantart_muro.html">View article</a> &rArr;</span>
         <span class="browser_logos">
           <span class="opera supported"></span>
           <span class="ie"></span>
           <span class="safari supported"></span>
           <span class="ff supported"></span>
           <span class="chrome supported"></span>
         </span>
      </div>
    </article>

    <article class="sample">
      <h2 id="box-dnd" data-pubdate="2010-09-25">
        <a href="/case-studies/box_dnd_download.html">Case Study: Drag and Drop Download in Chrome</a>
      </h2>
      <div>
        <span class="date">September 25, 2010</span>
        <span class="tag">dnd</span>
      </div>
      <div class="summary">
        Learn how Box.net implemented GMail's attachment drag and drop to the desktop.
      </div>
      <div class="footer_links">
         <span class="buttonlink"><a href="/case-studies/box_dnd_download.html">View article</a> &rArr;</span>
         <span class="browser_logos">
           <span class="opera"></span>
           <span class="ie"></span>
           <span class="safari"></span>
           <span class="ff"></span>
           <span class="chrome supported"></span>
         </span>
      </div>
    </article>

  </div>

  {% include "../../templates/footer.html" %}

{% endblock %}
