{% extends 'feature_concept.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block contents %}

<div style="margin-bottom: 2em" class="clearfix">

  <div class="column">
    <section class="tutorials">
      <hgroup>
        <h3>{% trans "Tutorials" %}</h3>
        <h4>{% blocktrans %}learn more about {{category}}.{% endblocktrans %}</h4>
      </hgroup>
      <div>
        <ul>
          {% block tuts %}{% endblock %}
        </ul>
        <p><a href="/{{LANGUAGE_CODE}}/tutorials/#{% block tuttags %}{% endblock %}">{% trans "View all related HTML5Rocks tutorials" %}</a>' &rArr;</p>
      </div>
    </section>
    <section class="themes">
      <hgroup>
      <h3>{% trans "Themes" %}</h3>
      </hgroup>
      <div>
        {% block themes %}{% endblock %}
      </div>
    </section>
    <section class="technologies">
      <hgroup>
        <h3>{% trans "Technologies" %}</h3>
      </hgroup>
      <div>
        {% block technologies %}{% endblock %}
      </div>
    </section>
    <section class="text">
      <hgroup>
        <h3>{% trans "Text" %}</h3>
        <h4>{% blocktrans %}read more about {{category}}.{% endblocktrans %}</h4>
      </hgroup>
      <div>
        {% block text %}{% endblock %}
      </div>
    </section>
  </div> <!-- eo .column -->

  <div class="column">
    <section class="techniques">
      <hgroup>
        <h3>{% trans "Techniques" %}</h3>
      </hgroup>
      <div>
        {% block techniques %}{% endblock %}
      </div>
    </section>
    <section class="tools">
      <hgroup>
      <h3>{% trans "Tools" %}</h3>
      </hgroup>
      <div>
        {% block tools %}{% endblock %}
      </div>
    </section>
  </div> <!-- eo .column -->

</div>

{% endblock %}
