{% extends "feature.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block headtitle %}{% trans "Connectivity" %}{% endblock %}
{% block h2title   %}{% trans "Connectivity" %}{% endblock %}
{% block tuttags   %}TODO{% endblock %}
{% block caniuse   %}TODO{% endblock %}
{% block supportblockstyle %}none{% endblock %} <!-- 'multiple' if more than one caniuse class, 'none' if none. TODO: This logic should be moved out of the view!! -->

{% block header %}
  <section>
    <p class="intro">
      {% blocktrans %}
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse pharetra purus vitae elit. Praesent sodales dolor. Etiam congue. Fusce a felis in mi auctor rhoncus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse suscipit.
      {% endblocktrans %}
    </p>
  </section>
{% endblock %}


{% block description %}
  <section>
    <h3>Lorem Ipsum</h3>
    <p>
      {% blocktrans %}
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse pharetra purus vitae elit. Praesent sodales dolor. Etiam congue.
      {% endblocktrans %}
    </p>

    <ul>
      <li>{% blocktrans %}<a href="http://example.com/">Foo</a> bar baz.{% endblocktrans %}</li>
      <li>{% blocktrans %}<a href="http://example.com/">Foo</a> bar baz.{% endblocktrans %}</li>
      <li>{% blocktrans %}<a href="http://example.com/">Foo</a> bar baz.{% endblocktrans %}</li>
    </ul>

    <p>{% blocktrans %}Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse pharetra purus vitae elit. Praesent sodales dolor. Etiam congue. Fusce a felis in mi auctor rhoncus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum est. Cras felis diam, malesuada in, pellentesque vel, ornare ut, purus. Suspendisse eget libero.{% endblocktrans %}</p>

    <h3>{% trans "Foo" %}</h3>
    <p>{% blocktrans %}Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse pharetra purus vitae elit. Praesent sodales dolor. Etiam congue. Fusce a felis in mi auctor rhoncus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum est. Cras felis diam, malesuada in, pellentesque vel, ornare ut, purus. Suspendisse eget libero.{% endblocktrans %}</p>
  </section>
{% endblock %}


{% block support_details %}
  <!-- <p>foo</p>  -->
{% endblock %}


{% block tutorials %}
  <li><a href="http://example.com/foo">Lorem Ipsum Dolor Sit Amet</a></li>
  <li><a href="http://example.com/bar">consectetuer Adipiscing Elit</a></li>
{% endblock %}


{% block content %}
  <section>
    <h3>Demos</h3>
    <figure>
      <a href="">
        <img src="/static/images/features/">
        <figcaption></figcaption>
      </a>
    </figure>
  </section>

  <section>
    <h3>In the Wild</h3>
    <figure>
      <a href="">
        <img src="/static/images/features/">
        <figcaption></figcaption>
      </a>
    </figure>
  </section>

  <section>
    <h3>Resources</h3>
    <ul class="definitions">
      <li>
        <a href="http://example.com/foo/bar/baz">Foo</a>
        {% trans "Lorem ipsum dolor sit amet, consectetuer adipiscing elit." %}
      </li>
    </ul>
  </section>

  <!-- Add as many <section>s as you like! The three above are the most common. -->
{% endblock %}