{% extends "../base.html" %}

{% block headtitle %}Feature{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/css/feature.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script>
  var feature = '#{{category}}'.replace('#','');
  
  var div = $('<div>').load('/tutorials/ #index', function(){
    
    var ul = $('<ul>').prependTo('section.tutorials div');
    
    div.find('.sample span.tag:contains(' + feature + ')')
      .closest('.sample').find('h2 a').clone()
      .map(function(){ return $(this).wrap('<li>').parent(); })
      .appendTo(ul);
      
  });
  </script>
{% endblock %}

{% block body %}
{% include "../section_header.html" %}
<div style="margin-bottom: 1em">
  <section class="tutorials">
    <hgroup>
      <h2>Tutorials</h2>
      <h4>learn how to use {{category}}.</h4>
    </hgroup>
    <div>
      <p>View all tutorials tagged '<a href="/tutorials/#{{category}}">{{category}}</a>' &rArr;</p>
    </div>
  </section>
  <section class="in-the-wild">
    <hgroup>
      <h2>In the Wild</h2>
      <h4>who is using {{category}}?</h4>
    </hgroup>
    <div>
      TODO: fill me
    </div>
  </section>
  <section class="demos">
    <hgroup>
      <h2>Demos / Samples</h2>
      <h4>see {{category}} in action!</h4>
    </hgroup>
    <div>
      TODO: fill me
    </div>
  </section>
  <section class="resources">
    <hgroup>
      <h2>Additional Resources</h2>
      <h4>lots of great stuff out there!</h4>
    </hgroup>
    <div>
      TODO: fill me
    </div>
  </section>
</div>

  {% include "../footer.html" %}
{% endblock %}
