{% extends "feature_concept.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block contents %}
<nav class="site_nav">
  <a class="previous" href="#">Storage</a>
  <a class="next" href="#">Nuts &amp; Bolts</a>

  <ul>
    <li>
      <a href="/{{LANGUAGE_CODE}}/features/offline" class="offline">{% trans "Offline" %}</a>
      <ul>
        <li><a href="#">Intro</a></li>
        <li><a href="#">What&rsquo;s New</a></li>
        <li><a href="#">Browser Support</a></li>
        <li><a href="#">Tutorials</a></li>
        <li><a href="#">Examples</a></li>
        <li><a href="#">Demos</a></li>
        <li><a href="#">In the Wild</a></li>
        <li><a href="#">Resources</a></li>
      </ul>
    </li>
    <li><a href="/{{LANGUAGE_CODE}}/features/storage" class="storage">{% trans "Storage" %}</a></li>
    <li><a href="/{{LANGUAGE_CODE}}/features/file" class="file">{% trans "File Access" %}</a></li>
    <li><a href="#" class="connectivity">{% trans "Connectivity" %}</a></li>
    <li><a href="#" class="semantics">{% trans "Semantics" %}</a></li>
    <li><a href="/{{LANGUAGE_CODE}}/features/multimedia" class="multimedia">{% trans "Audio/Video" %}</a></li>
    <li><a href="/{{LANGUAGE_CODE}}/features/graphics" class="graphics">{% trans "3D/Graphics" %}</a></li>
    <li><a href="/{{LANGUAGE_CODE}}/features/presentation" class="presentation">{% trans "Presentation" %}</a></li>
    <li><a href="/{{LANGUAGE_CODE}}/features/performance" class="performance">{% trans "Performance" %}</a></li>
    <li><a href="/{{LANGUAGE_CODE}}/mobile" class="mobile">{% trans "Mobile" %}</a></li>
  </ul>
</nav>

<div class="content clearfix">
  <div class="column">
    <section class="tutorials">
      <hgroup>
        <h3>{% trans "Tutorials" %}</h3>
        <h4>{% blocktrans %}learn how to use {{category}}.{% endblocktrans %}</h4>
      </hgroup>
      <div>
        <ul>
          {% block tuts %}{% endblock %}
        </ul>
        <p><a href="/tutorials/#{% block tuttags %}{% endblock %}">{% trans "View all related HTML5Rocks tutorials</a> &rArr;" %}</p>
      </div>
    </section>
    <section class="demos">
      <hgroup>
        <h3>{% trans "Demos" %}</h3>
        <h4>{% blocktrans %}see {{category}} in action{% endblocktrans %}</h4>
      </hgroup>
      <div>
        {% block demos %}{% endblock %}
      </div>
    </section>
  </div>
  <div class="column">
    <section class="in-the-wild">
      <hgroup>
        <h3>{% trans "In the Wild" %}</h3>
        <h4>{% blocktrans %}who is using {{category}}?{% endblocktrans %}</h4>
      </hgroup>
      <div>
        {% block inthewild %}{% endblock %}
      </div>
    </section>
    <section class="resources">
      <hgroup>
        <h3>{% trans "Additional Resources" %}</h3>
        <h4>{% trans "learn from the best, explore the potential" %}</h4>
      </hgroup>
      <div>
        {% block resources %}{% endblock %}
      </div>
    </section>
  </div>
</div>

{% endblock %}