{% extends "feature.html" %}

{% block headtitle %}MyFeature{% endblock %}
{% block h2title   %}MyFeature{% endblock %}

{% block description %}<p></p>{% endblock %}

<!-- wrap any tuts content with LI's 
     these will be added to existing tutorials scraped from h5r.com -->
{% block tuts %} 
{% endblock %}


{% block inthewild %} 
<figure>
  <a href="">
    <img src="/static/images/features/">
    <figcaption></figcaption>
  </a>
</figure>
{% endblock %}


{% block demos %} 
<figure>
  <a href="">
    <img src="/static/images/features/">
    <figcaption></figcaption>
  </a>
</figure>
{% endblock %}


{% block resources %} 
<dl>
  <dt><a href=""></a></dt>
  <dd></dd>
</dl>
{% endblock %}

