{% extends "feature.html" %}

{% block headtitle %}MyFeature{% endblock %}
{% block h2title   %}MyFeature{% endblock %}

{% block description %}<p></p>{% endblock %}

<!-- wrap tutorials content with LI's 
     Note: do not add existing tutorials from html5rocks. Those will be
     added here automatically by scraping the tutorial page's tags.
     Only add external tutorials. -->
{% block tuts %}
<!-- <li><a href="">External tutorial name</a></li>-->
{% endblock %}


{% block inthewild %} 
<figure>
  <a href="">
    <img src="/static/images/features/">
    <figcaption></figcaption>
  </a>
</figure>
{% endblock %}


{% block demos %} 
<figure>
  <a href="">
    <img src="/static/images/features/">
    <figcaption></figcaption>
  </a>
</figure>
{% endblock %}


{% block resources %} 
<dl>
  <dt><a href=""></a></dt>
  <dd></dd>
</dl>
{% endblock %}

