{% extends "../../templates/base.html" %}

{% block headtitle %}Features{% endblock %}

{% block head %}
<style>
ul {
  padding: 10px 25px;
}
li {
  list-style: none;
  margin: 10px 0;
}
</style>
{% endblock %}

{% block body %}
  {% include "../../templates/section_header.html" %}
    <ul>
      <li><a href="/features/file">File Access</a></li>
      <li><a href="/features/graphics">Graphics</a></li>
      <li><a href="/features/multimedia">Multimedia</a></li>
      <li><a href="/features/offline">Offline</a></li>
      <li><a href="/features/performance">Performance</a></li>
      <li><a href="/features/presentation">Presentation</a></li>
      <li><a href="/features/storage">Storage</a></li>
    </ul>
  {% include "../../templates/footer.html" %}
{% endblock %}
