{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block headtitle %}{% trans "Features" %}{% endblock %}

{% block head %}
<style>
#feature-list {
  padding: 10px 25px;
}
#feature-list li {
  list-style: none;
  margin: 10px 0;
}
</style>
{% endblock %}

{% block body %}
  <nav>
    <p class="breadcrumb">
      <a class="buttonlink" href="/{{LANGUAGE_CODE}}/">
        <span>{% trans "Home" %}</span>
      </a >&gt; {{ current.capitalize }}
    </p>
  </nav>
  <ul id="feature-list">
    <li><a href="/{{LANGUAGE_CODE}}/features/file">{% trans "File Access" %}</a></li>
    <li><a href="/{{LANGUAGE_CODE}}/features/graphics">{% trans "Graphics" %}</a></li>
    <li><a href="/{{LANGUAGE_CODE}}/features/multimedia">{% trans "Multimedia" %}</a></li>
    <li><a href="/{{LANGUAGE_CODE}}/features/offline">{% trans "Offline" %}</a></li>
    <li><a href="/{{LANGUAGE_CODE}}/features/performance">{% trans "Performance" %}</a></li>
    <li><a href="/{{LANGUAGE_CODE}}/features/presentation">{% trans "Presentation" %}</a></li>
    <li><a href="/{{LANGUAGE_CODE}}/features/storage">{% trans "Storage" %}</a></li>
  </ul>
{% endblock %}
