{% extends "feature.html" %}

{% block headtitle %}Offline{% endblock %}
{% block h2title   %}Offline{% endblock %}
{% block tuttags   %}offline{% endblock %}

{% block description %}
<img src="/static/images/features/offline.png"><p>"Web" and "online" are two closely associated terms, downright synonymous to many people. So why on earth would we talk about "offline" web technologies, and what does the term even mean? HTML5 and related specs introduce a number of features to make offline web apps a reality: </p>
  
  <ul>
    <li>application cache</li>
    <li><a href="/features/storage">localStorage</a></li>
    <li><a href="/features/database">web SQL &amp; indexed database</a></li>
    <li>online/offline events</li>
  </ul>
  
<p>For a worldwind overview of the offline landscape, consider the article <a href="/tutorials/offline/whats-offline/">"Offline": What does it mean and why should I care?</a>. These features can also be used to improve an application’s performance by storing data in the cache or to make data persistent between user sessions and when reloading and restoring pages</p>

<h4>Browser support</h4>
<p>See: <a href="http://caniuse.com/#feat=offline">current browser support for offline apps</a> on caniuse.com. Chrome specific details can be found on the <a href="http://dev.chromium.org/developers/web-platform-status">Chrome Platform Status</a>.</p>
{% endblock %}

<!-- wrap any tuts content with LI's -->
{% block tuts %} 
<li><a href="http://developer.apple.com/safari/library/documentation/iphone/conceptual/safarijsdatabaseguide/OfflineApplicationCache/OfflineApplicationCache.html">Safari Reference Library: HTML 5 Offline Application Cache</a></li>
{% endblock %}


{% block inthewild %} 
<figure>
  <a href="http://googlecode.blogspot.com/2009/04/gmail-for-mobile-html5-series-using.html">
    <img src="/static/images/features/offline-gmail.png">
    <figcaption>Mobile Gmail</figcaption>
  </a>
</figure>
<figure>
  <a href="http://everytimezone.com">
    <img src="http://1.bp.blogspot.com/_Ju16KL24mHY/TIGJhfJEkKI/AAAAAAAAACM/HnKH2Fvso_c/s640/2010-09-03_1520.png" width="160" height="120">
    <figcaption>Every Time Zone</figcaption>
  </a>
</figure>


{% endblock %}


{% block demos %} 
<figure>
  <a href="http://html5demos.com/offline">
    <img src="/static/images/features/offline-h5d.png">
    <figcaption>HTML5 Demos: Offline events</figcaption>
  </a>
</figure>

<figure>
  <a href="http://htmlfive.appspot.com/static/stickies.html">
    <img src="/static/images/features/offline-stickies.png">
    <figcaption>Stickies demo with app cache and web SQL database</figcaption>
  </a>
</figure>
{% endblock %}


{% block resources %} 
<dl>
  <dt><a href="http://dev.w3.org/html5/spec-author-view/offline.html#offline">W3C HTML5 Spec, author view: Offline Web Applications</a></dt>
  <dd>The w3c spec has the strict details on how the cache.manifest and applicationCache APIs work.</dd>
  <dt><a href="http://diveintohtml5.org/offline.html">Dive into HTML5: Let's take this offline</a></dt>
  <dd>Mark Pilgrim dives into using the app cache in practice.</dd>
  <dt><a href="https://developer.mozilla.org/En/Offline_resources_in_Firefox">MDC: Offline resources in Firefox</a></dt>
  <dt><a href="https://developer.mozilla.org/en/Online_and_offline_events">MDC: Online and offline events</a></dt>
  <dd>Mozilla Developer Center reference documentation and guides, covering online and offline events and app cache.</dd>
  <dt><a href="http://hacks.mozilla.org/2010/01/offline-web-applications/">Mozilla Hacks: offline web applications</a></dt>
  <dd>Creating a todo list manager using localStorage, app cache and offline events. Putting everything together.</dd>
  <dt><a href="http://dev.opera.com/articles/view/offline-applications-html5-appcache/">DevOpera: Running your web applications offline with HTML5 AppCache</a></dt>
  <dd>The app cache explained with solid examples showing different features and configurations in use.</dd>
  <dt><a href="http://trac.webkit.org/browser/trunk/WebCore/loader/appcache">Webkit app cache Source Code</a></dt>
  <dd>The C code used by Webkit for the app cache</dd>
</dl>


{% endblock %}

