{% extends "feature.html" %}

{% block headtitle %}Offline{% endblock %}
{% block h2title   %}Offline{% endblock %}

{% block description %}"Web" and "online" are two closely associated terms, downright synonymous to many people. So why on earth would we talk about "offline" web technologies, and what does the term even mean? HTML5 and related specs introduce a number of features to make offline web apps a reality.{% endblock %}

<!-- wrap any tuts content with LI's -->
{% block tuts %} 
{% endblock %}


{% block inthewild %} 
{% endblock %}


{% block demos %} 
<figure>
  <a href="http://html5demos.com/offline">
    <img src="/static/images/features/offline-h5d.png">
    <figcaption>sldkfds</figcaption>
  </a>
</figure>

<figure>
  <a href="http://html5demos.com/offline">
    <img src="/static/images/features/offline-h5d.png">
    <figcaption>sldkfds</figcaption>
  </a>
</figure>
{% endblock %}


{% block resources %} 
{% endblock %}

