{% extends "base.html" %}

{% block headtitle %}Home{% endblock %}

{% block head %}
  <style type="text/css" media="screen">
    #index {
      width: 100%;
      overflow: hidden;
      margin-bottom: 0;
      padding: 20px 0;
      border-bottom: 1px solid #ddd;
    }

    #index a {
      text-decoration: none;
    }

    #index img {
      float: left;
      width: 70px;
      padding-right: 8px;
    }

    #index div.app {
      font-family: Helvetica, sans-serif;
      float: left;
      height: 110px;
      padding: 30px 15px;
      margin: 0 5px;
      background: -webkit-gradient(linear, left top, left bottom, from(#eee), color-stop(0.5, #fff), to(#eee));
      border: 3px solid #e1e1e1;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 15px;
      -webkit-transition: -webkit-box-shadow 0.10s ease-in-out;
      -moz-transition: all 0.10s ease-in-out;
      cursor: pointer;
    }

    #index div.app:hover {
      border-color: #e1e1e1;
      -webkit-box-shadow: #666666 0px 0px 6px;
      -moz-box-shadow: #666666 0px 0px 6px;
      background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), color-stop(0.5, #fff), to(#e1e1e1));
    }

    .app h2 {
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      font-weight: bold;
      line-height: 0.8em;
      font-size: 17px;
    }
    
    .app h2 span {
      font-size: 17px;
      display: block;
      margin-bottom: 5px;
    }

    .appcontent {
      float: right;
      width: 126px;
    }

    .appcontent span {
      color: #222;
      font-weight: normal;
    }
    
    .desc { 
      font-size: 13px; 
      color: #666;
    }
    
    .float-left {
      float: left;
    }
    
    .float-right {
      float: right;
    }
    
    .clear {
      clear: both;
    }
    
    .feed-section {
      width: 50%;
    }

    .feed-section > *,
    .info-section > *  {
      padding-left: 5px;
    }

    .feed-section ul {
      list-style: none;
      margin-left: 0;
      color: #666;
      line-height: 1.5em;
    }
    
    .feed-section h2, .info-section h2 {
      padding: 24px 0 7px 5px;
      color: #000;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: normal;
      display: block;
    }

    .info-section p {
      margin-left: 0;
      color: #666;
      line-height: 1.5em;
    }

    .chrome-section {
      clear: both;
      background-color: #eee;
      padding: 10px 20px;
      font-size: 13px;
      margin: 20px 0;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
    }

    footer {
      clear: both;
      text-align: center;
      font-size: 13px;
    }

    footer { 
      clear: both; 
      text-align: left; 
      padding: 20px 0;
      font-size: 12px; 
      border-top: 1px dotted #ddd;
    }

    .madeby {
      float: right;
      width: 30%;
      margin: 0;
      text-align: right;
    }
  </style>
{% endblock %}

{% block body %}
{% include "header.html" %}
  <section id="index"> 
    <a href="http://slides.html5rocks.com">
      <div class="app">
        <img src="/static/images/html5rocks-presentation.png">
        <div class="appcontent">
          <h2><span>Interactive</span> Presentation</h2>
          <p class="desc">Watch the slideshow that lets you play with HTML5 features.</p>
        </div>
      </div>
    </a>
    <a href="http://playground.html5rocks.com">
      <div class="app">
        <img src="/static/images/html5rocks-playground.png">
        <div class="appcontent">
          <h2><span>Code</span> Playground</h2>
          <p class="desc">Jump headfirst into HTML5 by experimenting with each API.</p>
        </div>
      </div>
    </a>
    <a href="/tutorials/">
      <div class="app">
        <img src="/static/images/html5rocks-tutorials.png">
        <div class="appcontent">
          <h2><span>Step by Step</span> Tutorials</h2>
          <p class="desc">Take a guided tour through code that uses HTML5 features.</p>
        </div>
      </div>
    </a>
  </section>
  <section class="clear float-left feed-section">
    <h2>Latest Additions</h2>
    <ul>
      <li>6/18 <a href="/tutorials/developertools/part1/">Introduction to Chrome Developer Tools, Part One</a></li>
      <li>6/18 <a href="/tutorials/speed/quick/">Best Practices to A Faster Web App with HTML5</a></li>
      <li>6/18 <a href="/tutorials/appcache/beginner/">Beginner's guide to Application Cache</a></li>
      <li>6/18 <a href="/tutorials/offline/takingappoffline/">Practical guide to take your TODO list offline</a></li>
      <li>6/18 <a href="/tutorials/file/dndfiles/">Reading local files in JavaScript</a></li>
      <li>5/24 <a href="/tutorials/geolocation/trip_meter/">A Simple Trip Meter using the Geolocation API</a></li>
    </ul>
    <p><a href="/tutorials/">See more &rArr;</a></p>
  </section>
  <section class="float-right feed-section">
    <h2>Additional Resources</h2>
    <ul>
      <li><a href="http://dev.chromium.org/developers/web-platform-status">Chrome Implementation Status </a> - follow the Chrome team's HTML5 efforts.</li>
      <li><a href="http://diveintohtml5.org/">Dive into HTML5</a> - learn HTML5 and have fun reading a book at the same time.</li>
      <li><a href="https://groups.google.com/a/chromium.org/group/chromium-html5/topics">Chromium HTML5 Discussion Group</a> - a dedicated forum for web developers.</li>
    </ul>
    <p><a href="resources.html">See more &rArr;</a></p>
  </section>
  <section class="clear info-section">
    <h2>Contribute</h2>
    <p>This <a href="http://code.google.com/p/html5rocks/">site</a>, the HTML5 <a href="http://code.google.com/p/html5playground/">playground</a>,
    and the <a href="http://code.google.com/p/html5-slides/">presentation</a> slides are open source projects.
    Tweak the code or <a href="http://code.google.com/p/html5rocks/">contribute</a> new guides!</p>
  </section>
  <section class="chrome-section">
    <p>Ready to develop in HTML5 but worried about your IE users? Just put <a href="http://code.google.com/chrome/chromeframe/">Google Chrome Frame</a> in your websites. It's this easy:</p>
    <pre class="prettyprint">&lt;meta http-equiv="X-UA-Compatible" content="chrome=1"&gt;</pre>
    <p><a href="http://code.google.com/chrome/chromeframe/">Learn more about Google Chrome Frame and putting it to use</a></p>
  </section>

  {% include "footer.html" %}
{% endblock %}
