{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block headtitle %}{% trans "Author Profiles" %}{% endblock %}
{% block head %}
<!--
<link type="text/css" rel="stylesheet" href="/static/css/profiles{% if prod %}.min{% endif %}.css"/>
-->
<script src="/static/js/profiles{% if prod %}.min{% endif %}.js"></script>
<script>
$(document).ready(function() {
// WebGL for greyscaling author images.
  $(window).load(function() {

    if (!window.WebGLRenderingContext) {
      return;
    }

    $.getScript('/static/js/glfx.js', function() {
      var webglcanvas = null;
      try {
        webglcanvas = fx.canvas();
      } catch (e) {
        return;
      }

      if (!webglcanvas) {
        return;
      }

      var images = document.querySelectorAll('#profiles img[itemprop=photo]');

      [].forEach.call(images, function(image) {
        var texture = webglcanvas.texture(image);
        webglcanvas.draw(texture).hueSaturation(0, -1).vignette(0.5, 0.5).update();
        image.src = webglcanvas.toDataURL('image/png');
      });
    });

  });
});
</script>
{% endblock %}
{% block onload %}scrollToProfile();{% endblock %}
{% block body %}
<div data-import-html>
  <header class="description clearfix">
    <hgroup>
      <h1>HTML5 Rocks</h1>
      <h2>{% trans "Authors" %}</a></h2>
    </hgroup>

    <section class="intro">
      <p>
        {% blocktrans %}
          Sed purus ante, congue eget convallis at, aliquet ut diam. Pellentesque volutpat posuere lectus, eu venenatis enim molestie nec. Sed ac eros lorem. Nulla egestas mauris a quam tincidunt ac lacinia ipsum commodo. Phasellus fermentum est sed arcu rhoncus eget ornare quam lobortis. Morbi. elit massa, molestie vitae adipiscing non, gravida vitae dolor. Praesent id tellus scelerisque libero posuere malesuada.
        {% endblocktrans %}
      </p>
    </section>

    {% if not is_mobile %}
    <span class="share">
      <ul>
        <li class="googleplus"><div class="g-plusone" data-size="medium" data-count="true" data-href="{{disqus_url}}"></div></li>
        <li class="facebook"><iframe src="http://www.facebook.com/plugins/like.php?href={{disqus_url}}&amp;layout=button_count&amp;show_faces=false&amp;width=80&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe></li>
        <li class="twitter"><a href="http://twitter.com/share" class="twitter-share-button" data-url="{{disqus_url}}" data-via="ChromiumDev" data-lang="{{LANGUAGE_CODE}}" data-related="ChromiumDev:News and announcements for developers from the Google Chrome team and makers of HTML5 Rocks.">{% trans "Tweet" %}</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script></li>
      </ul>
    </span>
    {% endif %}
  </header>

  <article>
    <!-- see http://microformats.org/wiki/microdata -->
    <!-- http://www.whatwg.org/specs/web-apps/current-work/multipage/links.html#vcard -->

    <div id="profiles">
      {% for profile in sorted_profiles %}

      <article class="profile" id="{{profile.id}}" itemscope itemtype="http://microformats.org/profile/hcard">
        <section>
          <img itemprop="photo" alt="{{profile.given_name}} {{profile.family_name}}" title="{{profile.given_name}} {{profile.family_name}}" src="/static/images/profiles/{{profile.id}}.png">
          <hgroup>
            <h2>
              <div itemprop="fn">
                <div itemprop="n" itemscope>
                  <span itemprop="given-name">{{profile.given_name}}</span>
                  <span itemprop="family-name">{{profile.family_name}}</span>
                </div>
              </div>
            </h2>
            <h3 itemprop="org" itemscope>
              {% if profile.unit %}<div itemprop="organization-unit">{{profile.unit}}</div>{% endif %}
              {% if profile.org %}<div itemprop="organization-name">{{profile.org}}</div>{% endif %}
            </h3>
            <h3 itemprop="adr" itemscope>
              {% if profile.city %}<span itemprop="city">{{profile.city}},</span>{% endif %}
              {% if profile.state %}<span itemprop="state">{{profile.state}},</span>{% endif %}
              {% if profile.country %}<span itemprop="country-name">{{profile.country}}</span>{% endif %}
            </h3>
          </hgroup>
          <ul class="urls">
            {% if profile.homepage %}
            <li><a data-type="homepage" itemprop="url" href="{{profile.homepage}}">&nbsp;</a></li>
            {% endif %}
            {% if profile.google_account %}
            <li><a data-type="google" itemprop="url" href="http://www.google.com/profiles/{{profile.google_account}}">&nbsp;</a></li>
            {% endif %}
            {% if profile.twitter_account %}
            <li><a data-type="twitter" itemprop="url" href="http://twitter.com/{{profile.twitter_account}}">&nbsp;</a></li>
            {% endif %}
            {% if profile.lanyrd %}
            <li><a data-type="lanyrd" itemprop="url" href="http://www.lanyrd.com/people/{{profile.twitter_account}}">&nbsp;</a></li>
            {% endif %}
          </ul>
          {% if not is_mobile %}
            <div class="list-articles">{% trans "Articles" %} <span>&rarr;</span></div>

            {% if profile.geo_location %}
            <div itemprop="geo" class="map active">
              <img src="http://maps.google.com/maps/api/staticmap?center={{profile.geo_location}}&markers=color:red|label:|{{profile.geo_location}}&zoom=14&size=278x100&sensor=false"/>
            </div>
            {% endif %}

            <ul class="articles"></ul>
          {% endif %}
        </section>
      </article>

      {% endfor %}

    </div>
  </article>
</div>
{% endblock %}

