{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block headtitle %}{% trans "Videos and Presentations" %}{% endblock %}

{% block head %}
  <style media="screen">
    @media only screen and (max-width: 640px) { /*iPhone, Android*/
      .slides img { max-width: 50%; }
    }

    #content { max-width: 970px; min-height: 400px; }

    #cse-search-box {
      margin-top: 4px;
    }
    h2 { margin-bottom: 5px; }
    h4 { color: hsl(0, 0%, 50%); margin-top: 0; }
    .event { color: hsl(0, 0%, 30%); }
    .date { float: none;}

    .body { min-height: 350px; 
         -moz-transition: all 0.3s ease-out;  
           -o-transition: all 0.3s ease-out;  
      -webkit-transition: all 0.3s ease-out;  
          -ms-transition: all 0.3s ease-out;  
              transition: all 0.3s ease-out;  
    }
    
    .video iframe { width: 475px; height: 400px;}
    .video { margin-right: 15px; }
    .video,
    .video + .slides  { display: inline-block; }

    article { padding: 10px; margin: 0 -10px; border-top: 1px solid hsl(0, 0%, 90%);}
    article.even { background: hsl(0, 0%, 95%);}

    .slides { vertical-align: top; }
    .slides iframe { width: 467px; height: 400px; border: 0;}
    .slides img { width: 475px; outline: 2px solid hsl(221, 44%, 43%);
      -webkit-box-shadow: 0px 16px 8px -9px hsl(202,4%,56%);
         -moz-box-shadow: 0px 16px 8px -9px hsl(202,4%,56%);
              box-shadow: 0px 16px 8px -9px hsl(202,4%,56%);
      }
    .slides img:hover {
      -webkit-box-shadow: 0px 3px 8px hsl(202,69%,23%);
         -moz-box-shadow: 0px 3px 8px hsl(202,69%,23%);
              box-shadow: 0px 3px 8px hsl(202,69%,23%);
      }

    #filter, #filter + label { font-size: 16px; float: right; width: 353px; border-radius: 12px;   position: relative; top: -33px;}
    #filter + label { display: block;
    width: 390px;
    font-size: 14px;
    top: -30px;
    clear: right;
    text-align: right;
    color: #666; }
    #filter + label output { display: block; font-size: 12px; }
    
    html { overflow-y: scroll; }
  </style>
{% endblock %}

{% block body %}
<div data-import-html>
  <section class="pres pattern-bg-lighter">


  <h2 class="section-header">{% trans "HTML5 Slides, Presentations, and Videos" %}</h2>

    <!--
      https://spreadsheets.google.com/a/google.com/spreadsheet/ccc?hl=en&key=t2ZDVzRdCvcC8etphuOOonQ&hl=en#gid=0
      spreadhseet of all slides etc etc -->
      
    <input id="filter" placeholder=" {% trans "Filter talks by topic, person, etc" %}" >
    <label> {% trans "Only show talks more recent than:" %} 
      <input id="datefilter" type="range" value=0 min=0 max=100> 
      <output id="dateoutput"></output>
    </label>
    
    <div id="output">{% trans "Loading..." %}</div>

    <script src="/static/js/handlebars.1.0.0.beta.3.js"></script>
    <script src="/static/js/parseuri.js"></script>
    <script src="/static/js/talkstmpl.js"></script>
    <script src="/static/js/slides-polyfills.js"></script>
    <script src="/static/js/slidesapp.js"></script>

    <script src="https://spreadsheets.google.com/feeds/list/0ArK1Uipy0SbDdHpQMzFWVFlMX1Zyd0tOWUxNeUE5QUE/od6/public/basic?alt=json-in-script&callback=receiveSpreadsheet"></script>
  </section>
</div>
{% endblock %}
