{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block headtitle %}{% trans "Why HTML5 Rocks" %}{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<div data-import-html>
  <header class="clearfix">
    <hgroup>
      <h1>Why HTML5 <span>Rocks</span></h1>
    </hgroup>

    <section class="intro">
      <p>
        {% blocktrans %}
          Sed purus ante, congue eget convallis at, aliquet ut diam. Pellentesque volutpat posuere lectus, eu venenatis enim molestie nec. Sed ac eros lorem. Nulla egestas mauris a quam tincidunt ac lacinia ipsum commodo. Phasellus fermentum est sed arcu rhoncus eget ornare quam lobortis. Morbi. elit massa, molestie vitae adipiscing non, gravida vitae dolor. Praesent id tellus scelerisque libero posuere malesuada.
        {% endblocktrans %}
      </p>
    </section>

    {% if not is_mobile %}
    <span class="share">
      <ul>
        <li class="googleplus"><div class="g-plusone" data-size="medium" data-count="true" data-href="{{disqus_url}}"></div></li>
        <li class="facebook"><iframe src="http://www.facebook.com/plugins/like.php?href={{disqus_url}}&amp;layout=button_count&amp;show_faces=false&amp;width=80&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe></li>
        <li class="twitter"><a href="http://twitter.com/share" class="twitter-share-button" data-url="{{disqus_url}}" data-via="ChromiumDev" data-lang="{{LANGUAGE_CODE}}" data-related="ChromiumDev:News and announcements for developers from the Google Chrome team and makers of HTML5 Rocks.">{% trans "Tweet" %}</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script></li>
      </ul>
    </span>
    {% endif %}
  </header>

  <article>
    <h1>Lorem Ipsum</h1>
    <p>Sed rhoncus porttitor nibh, eget consequat nibh sodales sed. Aliquam ac urna mi, luctus laoreet massa. Phasellus vel hendrerit nibh. Integer convallis bibendum enim, id condimentum metus imperdiet sed. Vestibulum placerat, urna quis gravida viverra, nulla ligula eleifend nulla, a vehicula purus velit ac felis. Proin ut tincidunt leo. Praesent eu sodales eros. Pellentesque luctus orci eu metus pharetra vel aliquam ipsum convallis. Phasellus eu massa vitae lorem ultricies ultrices. Maecenas tempus, mauris sit amet sagittis venenatis, odio risus convallis dui, ut venenatis est augue eu mauris. Duis eget lectus vitae orci imperdiet semper quis nec orci.</p>
    <p>In hac habitasse platea dictumst. Suspendisse faucibus vestibulum ipsum. In hac habitasse platea dictumst. Pellentesque id elit est. Morbi sit amet nibh lacus, eu luctus eros. Fusce sed velit est, sit amet euismod turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vel posuere mauris. Praesent aliquam diam quis lorem aliquet blandit. Nullam sit amet ante non arcu elementum accumsan sed quis nunc. Nunc fermentum velit in lectus ultrices id tincidunt lectus interdum. Donec quis dui ac nisi bibendum egestas in commodo orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce sagittis pulvinar dui vitae mattis.</p>
    <h2>Dolor Sit Amet</h2>
    <p>Aliquam dui orci, sagittis a rhoncus sodales, aliquet vitae orci. Suspendisse quis nisl nisl, sed volutpat risus. Sed sagittis faucibus imperdiet. Pellentesque et est rhoncus tellus dapibus sagittis. Aenean commodo eros lobortis mauris vehicula feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec scelerisque, sapien vitae rhoncus rhoncus, magna ipsum vehicula felis, et ullamcorper diam enim sit amet enim. Nam vitae faucibus nisl. Nulla felis tortor, luctus at tristique eget, egestas ut mauris. Proin et nisl sit amet leo semper convallis eget lobortis mi. Nulla placerat libero non urna placerat varius. Morbi id auctor tellus. Maecenas eu magna in massa sodales feugiat.</p>
    <p>Suspendisse sodales sapien imperdiet sem vestibulum nec commodo nisl eleifend. Aenean tempor, purus et vestibulum sagittis, eros dui bibendum erat, sit amet convallis eros erat et nulla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam elementum volutpat magna, in hendrerit diam interdum sed. Mauris blandit ligula mi. Aenean hendrerit cursus lacus, non venenatis nibh elementum non. Sed cursus nisl iaculis tortor sodales eget vestibulum purus eleifend. Nullam lacus lacus, imperdiet ut adipiscing non, volutpat non felis.</p>
  </article>
</div>
{% include "footer.html" %}

{% endblock %}