{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block headtitle %}Gaming{% endblock %}

{% block head %}
<!--<link rel="stylesheet" media="screen" href="/static/css/feature{% if prod %}.min{% endif %}.css" />-->
{% endblock %}

{% block body %}
<div data-import-html>
  <header class="two_columns clearfix pattern-bg-lighter">
    <hgroup>
      <img src="/static/images/banner-gaming.png" width="462" height="176">
      <h1>
        The Future of Games<br>
        <span>Is In Your Browser</span>
      </h1>
    </hgroup>

    <section>
      <p>It's official: with HTML5 today the browser has become a full-fledged gaming platform.
      Features like high performance 2D and 3D graphics, offline asset storage, rich audio APIs,
      and socket-based networking let you create compelling modern games with a reach like never before.
      Connect with users wherever they are by creating HTML5 games that can be played in browsers
      across desktop or mobile devices. HTML5 has the tools you need to create amazing games that
      engage with users seamlessly. Get started today!</p>
      <p><a href="/{{LANGUAGE_CODE}}/tutorials#gaming">{% trans "Give me everything" %} &rarr;</a></p>
    </section>
  </header>

  <article class="sectioned">
    <section class="feed one_half">
      <h3>{% trans "Gaming" %} {% trans "Updates" %}</h3>
      <ul>
        {% for tut in tutorials %}
          <li style="white-space:nowrap;">
            <span class="date">{{tut.publication_date.month}}/{{tut.publication_date.day}}</span> <span class="author" data-author_id="{{ tut.author.key.name }}"><img src="/static/images/profiles/{{tut.author.key.name}}.png" alt="{{ tut.author.given_name }} {{ tut.author.family_name }}" title="{{ tut.author.given_name }} {{ tut.author.family_name }}"></span>
            <span class="title"><a href="{{tut.url}}">{{tut.title}}</a></span>
            <span class="classes">
              {% for tag in tut.classes %}
                <span class="class {{tag}}"><span class="class_name">{{tag}}</span></span>
              {% endfor %}
            </span>
          </li>
          {% empty %}
          Sorry, nothing available yet. Become a <a href="http://code.google.com/p/html5rocks/wiki/ContributorsGuide" target="_blank">contributor</a>.
        {% endfor %}
      </ul>
    </section>

    <section class="one_half">
      <h3>{% trans "Gaming" %} {% trans "Tutorials" %}</h3>
      <ul class="definitions">
      {% for r in tutorials %}
        {% if forloop.counter0 < 4 %}
          <li>
            <a href="{{r.url}}">{{r.title}}</a><br>
            <span>{{r.description|safe|truncatewords:15}}</span>
            </a>
          </li>
        {% endif %}
      {% empty %}
        <p>Sorry, nothing available yet. Become a <a href="http://code.google.com/p/html5rocks/wiki/ContributorsGuide" target="_blank">contributor</a>.</p>
      {% endfor %}
      </ul>
    </section>

    <section class="resources">
      <hgroup>
        <h3>{% trans "Additional Resources" %}</h3>
      </hgroup>
      <div>
        <ul class="two_columns">
          <li><a href="http://code.google.com/mobile/">Google Mobile Developer Products</a></li>
          <li><a href="http://mobile.yahoo.com/developers">Yahoo! Mobile Developers Home</a></li>
          <li><a href="https://developer.mozilla.org/En/Mobile">Mozilla Mobile Docs</a></li>
          <li><a href="http://www.w3.org/TR/mobile-bp/">W3C Mobile Best Practices</a></li>
          <li><a href="http://developer.android.com/guide/webapps/index.html">Android Web Apps Overview</a></li>
          <li><a href="http://www.mobileawesomeness.com/">mobileawesomeness.com</a> - Get inspired</li>
          <li><a href="http://mobile-patterns.com/">mobile-patterns.com</a> - Examples of mobile UI patterns</li>
          <li><a href="http://www.mobilexweb.com/emulators">List of Mobile Browser Emulators</a></li>
          <li><a href="http://webpro.host.adobe.com/people/jblas/research/">Research and test cases on Touch-Events and Mobile</a></li>
        </ul>
      </div>
    </section>

    <section class="contributors">
      <hgroup>
        <h3>{% trans "Recent Contributors" %}</h3>
      </hgroup>
      <ul class="authors">
        {% for a in authors %}
          {% if forloop.counter0 < 4 %}
          <li class="profile" id="{{ a.key.name }}" itemscope itemtype="http://microformats.org/profile/hcard">
            <a href="/{{LANGUAGE_CODE}}/profiles#{{ a.key.name }}">
              <img itemprop="photo" alt="{{ a.given_name }} {{ a.family_name }}" title="{{ a.given_name }} {{ a.family_name }}" src="/static/images/profiles/{{ a.key.name }}.png">
              <h2>
                <div itemprop="fn">
                  <div itemprop="n" itemscope>
                    <span itemprop="given-name">{{ a.given_name }}</span>
                    <span itemprop="family-name">{{ a.family_name }}</span>
                  </div>
                </div>
              </h2>
              <h3 itemprop="org" itemscope>
                <div itemprop="organization-unit">{{ a.unit }}</div>
                <div itemprop="organization-name">{{ a.org}}</div>
              </h3>
            </a>
          </li>
          {% endif %}
          {% empty %}
          Sorry, nothing available yet. Become a <a href="http://code.google.com/p/html5rocks/wiki/ContributorsGuide" target="_blank">contributor</a>.
        {% endfor %}
      </ul>
    </section>
  </div>
</div>
{% endblock %}