{% extends "../../../base.html" %}

{% block body %}
  {% include "../../../header.html" %}
  <nav>
    <p class="breadcrumb">
      <a class="buttonlink" href="/">
        <span>Home</span>
      </a >&gt; 
      <a class="buttonlink" href="/tutorials/">
        <span>Tutorials</span>
      </a> &gt; {% block pagebreadcrumb %}{% endblock %}
    </p>
  </nav>
  <article>
    <header>
      <h1>{% block pagetitle %}{% endblock %}</h1>
      <div>
        <span class="date">
          {% block pageauthor %}{% endblock %}, <time pubdate>{% block date %}{% endblock %}</time>
        </span>
        <span class="browser_support">
          <span>Supported browsers:</span>
          <span class="browser_logos">{% block browsersupport %}{% endblock %}</span>
        </span>
      </div>
    </header>
    <section>
      <div class="compatible-block"> 
        <p id="notcompatible" class="hidden">
          {% block notcompatible_text %}
          Your browser may not support all of
          the functionality used in this sample.
          {% endblock %}
        </p>
        <p id="compatible" class="hidden">
          {% block compatible_text %}
          Your browser appears to support
          all of the functionality used in this sample.
          {% endblock %}
        </p>
      </div>
    </section>
    <nav>
      {% toc %}
    </nav>
    <section>
    {% block content %}{% endblock %}
    </section>
  </article>
  {% include "../../../footer.html" %}
{% endblock %}