{% extends "../../../base.html" %}

{% block body %}
  {% include "../../../section_header.html" %}
  <nav>
      <p class="breadcrumb">
        <a class="buttonlink" href="/">
          <span>Home</span>
        </a >&gt; 
        <a class="buttonlink" href="/tutorials/">
          <span>Tutorials</span>
        </a> &gt; {% block pagebreadcrumb %}{% endblock %}
     </p>
  </nav>
  <article>
    <header>
      <h1>{% block pagetitle %}{% endblock %}</h1>
      <div>
        <span class="date">
          {% block pageauthor %}{% endblock %}, <time pubdate>{% block date %}{% endblock %}</time>
        </span>
        <span id="share_buttons">
          <ul>
            <li><a title="Post to Google Buzz" class="google-buzz-button" href="http://www.google.com/buzz/post" data-button-style="small-count"></a></li>
            <li><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fexample.com%2Fpage%2Fto%2Flike&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe></li>
            <li>
              <script type="text/javascript">
                tweetmeme_style = 'compact';
                tweetmeme_source = 'ChromiumDev';
              </script>
              <script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
            </li>
          </ul>
        </span>
      </div>
      <span class="browser_support">
        <span>Supported browsers:</span>
        <span class="browser_logos">{% block browsersupport %}{% endblock %}</span>
      </span>
    </header>
    <section>
      <div class="compatible-block"> 
        <p id="notcompatible" class="hidden">
          {% block notcompatible_text %}
          Your browser may not support all of
          the functionality used in this sample.
          {% endblock %}
        </p>
        <p id="compatible" class="hidden">
          {% block compatible_text %}
          Your browser appears to support
          all of the functionality used in this sample.
          {% endblock %}
        </p>
      </div>
    </section>
    <nav>
      {% toc %}
    </nav>
    <section>
    {% block content %}{% endblock %}
    </section>
  </article>
  <p class="cc">Except as otherwise noted, the content of this page is licensed under the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>.</p>
  {% include "../../../footer.html" %}
  <script type="text/javascript" src="http://www.google.com/buzz/api/button.js"></script>
{% endblock %}