{% extends "base.html" %}

{% block headtitle %}Author Profiles{% endblock %}

{% block head %}
<style>
  input[required] {
    border-color: #88a;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 255, 0.5);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 255, 0.5);
    -o-box-shadow: 0 0 1px rgba(0, 0, 255, 0.5);
    box-shadow: 0 0 1px rgba(0, 0, 255, 0.5);
  }
  input:invalid {
    border-color: #e88;
    -webkit-box-shadow: 0 0 1px rgba(255, 0, 0, 0.8);
    -moz-box-shadow: 0 0 1px rgba(255, 0, 0, 0.8);
    -o-box-shadow: 0 0 1px rgba(255, 0, 0, 0.8);
    box-shadow: 0 0 1px rgba(255, 0, 0, 0.8);
  }
  input[type="submit"] {
    margin: 15px auto 25px;
    padding: 2px 14px;
  }
</style>
{% endblock %}

{% block body %}
<div>
  <h2>Add a new author information:</h2>
  <form name="author_form" method="POST" action="/database/submit">
    <table>
      <tr><th><label for="id_key_name">key_name:</label></th><td><input type="text" name="key_name" id="id_key_name" required /></td></tr>
      {{ author_form }}
      <tr><td colspan="2" style="text-align: center;"><input type="submit" /></td></tr>
    </table>
  </form>
</div>
{% endblock %}
